
body {
    font-size: 1rem;
    font-family: "Trebuchet MS";
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #242526;
}

.aligned-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

