/* For dark filter: https://coder-coder.com/background-image-opacity/ */
body {
    font-size: 1rem;
    font-family: "Trebuchet MS";
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #242526;

}

.background-image {

    background-image: url("/static/sunny.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    height: 100vh;

}

.background-image::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

h1 {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    top: 20vh;
    font-weight: 900;
    font-size: 18vh;
    color: white;
}

.temperature {
    margin: 10px;
    position: absolute;
    bottom: 100px;
    left: 15%;
    right: 15%;
    font-size: 3vh;
}
